{% extends 'base.html.twig' %}
{% block title %}Create a new Restaurant{% endblock %}
{% block body %}
<div class="col-lg-6"> 
    {{ form_start(form) }}
        
            {{ form_row(form.name) }}
            {{ form_row(form.city) }}

            <ul class="media"
            data-index="{{ form.media|length > 0 ? form.media|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.media.vars.prototype)|e('html_attr') }}"> 
            {{ form_row(form.media) }}
            </ul>  
            <button type="button" class="btn btn-success add_item_link" data-collection-holder-class="media"> + add image </button> <hr>
            <button class="btn btn-info">{{ button_label|default('Create') }}</button>
    {{ form_end(form) }}
</div>     
{% endblock %}

{% block javascripts %}
<script src="{{ asset('/scripts/add_remove_media_inputs.js') }}"></script>
{% endblock %}